.body-icon2,
.head-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}
.body-icon2 {
  border-radius: var(--br-6xl);
  height: 274px;
}
.head-icon2 {
  height: 55.3px;
}
.authentication,
.unibank3 {
  position: absolute;
  top: 5px;
  left: 117px;
  font-weight: 500;
  display: inline-block;
  width: 66px;
  height: 16px;
}
.authentication {
  top: 39px;
  left: 88px;
  font-size: var(--font-size-xs);
  width: 124px;
}
.code {
  border: 2px solid var(--color-slateblue);
  background-color: var(--color-white);
  position: absolute;
  top: 110px;
  left: 60px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 180px;
  height: 37px;
}
.go-auth-icon {
  position: absolute;
  top: 200px;
  left: 117px;
  width: 66px;
  height: 36px;
  cursor: pointer;
}
.login2 {
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 100%;
  height: 274px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-mono);
}
